*{
    margin: 0px;
    padding: 0px;
      
}
body{
    background-color: lightgray;
}
.main-body{
    padding: 0px 20%;
    
}
.header{
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;  
    text-align: center;
}
.title{
    text-align: center;
    padding: 15px 0px;
    font-family: 'Open Sans', sans-serif;
}
p{
    padding: 10px 0px;
    color: gray;
}
h3{
    font-weight: lighter;
}
.card{
    display: inline-block;
    background-color: white;
    margin: 15px 15px;
    justify-content: center;
}

img{
    width: 100%;
}